<section class="content-header">
    <h1>
        Transactions
        <small>Cash OUT</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Transactions</a></li>
        <li class="active">Cash OUT</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="row">

        <h3>{{message}}</h3>

    <div class="panel ">
        <div class="panel-heading">
            Wallet Information
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label col-sm-3">Wallet No.</label>
                    <div class="form-inline">
                        <div class="col-sm-9">
                            <input class="form-control" ng-model='cashOut.walletNo' placeholder="Enter Wallet Number">
                            <button type="submit"  class="btn btn-primary"   ng-click="searchAccount()" >Search</button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <label class="control-label col-sm-3" >Full Name</label>
                    <div class="col-sm-9">
                        <input class="form-control"  type="text" placeholder="Full Name" ng-model="accountWalletInfo.fullName" disabled>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <label class="control-label col-sm-3" >Mobile Number</label>
                    <div class="col-sm-9">
                        <input class="form-control"  type="text" placeholder="Mobile No." ng-model="accountWalletInfo.mobileNumber" disabled>
                    </div>
                </div>

                <br/>
                <div class="form-group">
                    <label class="control-label col-sm-3" >Email Address</label>
                    <div class="col-sm-9">
                        <input class="form-control"  type="text" placeholder="Email Address" ng-model="accountWalletInfo.email" disabled>
                    </div>
                </div>

            </div>
        </div>


    <div class="panel ">
        <div class="panel-heading">
            Account Balances
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                <div class="form-group">

                    <label class="control-label col-sm-12" >Major Wallet</label>

                    <label class="control-label col-sm-3" >Current </label>
                    <div class="col-sm-3">
                        <input class="form-control "  type="text" placeholder="Current Balance" ng-model="accountWalletInfo.wallets[0].currentBalance" disabled>
                    </div>
                    <label class="control-label col-sm-3" >Available </label>
                    <div class="col-sm-3">
                        <input class="form-control "  type="text" placeholder="Available Balance" ng-model="accountWalletInfo.wallets[0].availableBalance" disabled>
                    </div>

                    <label class="control-label col-sm-12" >Online Wallet</label>

                    <label class="control-label col-sm-3" >Current </label>
                    <div class="col-sm-3">
                        <input class="form-control "  type="text" placeholder="Mobile Balance" ng-model="accountWalletInfo.wallets[0].subWallets[0].currentBalance" disabled>
                    </div>

                    <label class="control-label col-sm-3" >Available </label>
                    <div class="col-sm-3">
                        <input class="form-control "  type="text" placeholder="Mobile Balance" ng-model="accountWalletInfo.wallets[0].subWallets[0].availableBalance" disabled>
                    </div>


                    <label class="control-label col-sm-12" >Mobile Wallet</label>

                    <label class="control-label col-sm-3" >Current </label>
                    <div class="col-sm-3">
                        <input class="form-control "  type="text" placeholder="Mobile Balance" ng-model="accountWalletInfo.wallets[0].subWallets[1].currentBalance" disabled>
                    </div>

                    <label class="control-label col-sm-3" >Available </label>
                    <div class="col-sm-3">
                        <input class="form-control "  type="text" placeholder="Mobile Balance" ng-model="accountWalletInfo.wallets[0].subWallets[1].availableBalance" disabled>
                    </div>

                </div>
            </div>
        </div>
    </div>


        <div class="panel ">

            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-8">
                        <label control-label class="col-sm-2">Withdrawal Amount</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model='cashOut.amount' placeholder="Enter Amount Value">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">

                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <label control-label class="col-sm-2">Comments</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" ROWS="3" ng-model='cashOut.comments' placeholder="Comment" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <form role="form" name="cashOutForm" ng-submit="saveCashOut()" novalidate>
                                <button type="submit"  class="btn btn-primary">Submit</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>



        </div>

</div>
</div>
</section>

