<div class="login-page">
<div class="login-box">
    <div class="login-logo">
        <span class="logo-lg"><img src="dist/img/logo.png"></span>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form ng-submit="login()">

            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="User Name or Email"
                       id="username" name="username"  ng-model="credentials.username"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password"
                       id="password" name="password"  ng-model="credentials.password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">

                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div><!-- /.col -->
            </div>
        </form>

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->


</div>

<!-- AdminLTE App -->
<script src="dist/js/app.js" type="text/javascript"></script>